<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AzureWebJobsStorage" value="DefaultEndpointsProtocol=https;AccountName=[your-storage-account-name-here];AccountKey=[your-storage-account-key-here];EndpointSuffix=core.windows.net" />
		<add key="APCA-API-KEY-ID" value="" />
		<add key="APCA-API-SECRET-KEY" value="" />
		<add key="APCA_AccountID" value="813969168201154560" />
		<add key="TradeOperationQueueName" value="tradeoperations" />
		<add key="TradeDispatchMonitorQueueName" value="tradedispatchmonitor" />
		<add key="NotifyFromAddress" value="" />
		<add key="NotifyToAddresses" value="" />
		<add key="Notification-Credential-UN" value="" />
		<add key="Notification-Credential-PW" value="" />
		<add key="KEY_VAULT_NAME" value="" />
		<add key="AZURE_CLIENT_ID" value="" />
		<add key="AZURE_CLIENT_SECRET" value="" />
		<add key="AZURE_TENANT_ID" value="" />
	</appSettings>
</configuration>